.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.input {
  width: 350px;
  height: 35px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}
.button {
  padding: 5px;
  border: 1px solid black;
  background: transparent;
  border-radius: 10px;
  cursor: pointer;
  height: 35px;
}
